*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: #E0E0E0;
}

main
{
	display: flex;
	flex-direction: row;
	padding: 2px;
}

.bg
{
	background-color: #282828;
}

.container
{
	outline-width: 0px;
	outline: solid;
	outline-color: black;
	padding: 8px;
}

#alarmes_prises
{
	flex-basis: 30%;
	max-height: 30%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#alarmes_libres
{
	flex-basis: 70%;
	max-height: 70%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.date-heure-container
{
	display: flex;
	width: 40em;
	margin-left: auto;
	height: 100%;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
}

#ticket_section
{
	display: flex;
	flex-direction: column;
	height: 95vh;
	width: 24em;
	font-size: 20px;
}

#bottom_section
{
	flex-grow: 1;
	padding: 2px;
}

.user-card
{
  border: 2px solid black;
  margin-bottom: 4px;
  padding: 10px;
  background-color: #614444;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: background-color 0.2s ease-out, font-size 0.2s ease-out;
}

.user-card:hover
{
	background-color: #E6A1A1;
	font-size: 20px;
}

.card-delete 
{
  background-color: #E6AD8A;
  color: #614444;
  border: 4px solid #2c2c2c;
  font-family: monospace;
  padding: 1px 8px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  transition: font-size 0.2s ease-out;
}

.card-delete:hover
{
	font-size: 24px;
}

.add-button
{
	background-color: #E6A1A1;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	transition: all 0.2s ease-out;
}

.add-button:hover
{
	background-color: #614444;
	font-size: 36px;
	border-width: 3px;
}

#info_section
{
    height: 95vh;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #333;
}

.info-field {
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
}

.info-field:last-child {
    border-bottom: none;
}

.info-field label {
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.info-field span {
    font-family: 'Courier New', Courier, monospace;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  	align-items: center;
    border: 2px solid #333;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    font-family: 'Courier New', Courier, monospace;
}

  .modal-content {
      background-color: #292929;
      margin: auto;
      flex-basis: 30%;
      color: #E0E0E0;
      font-size: 1em;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .close {
      font-size: 2em;
      float: right;
      cursor: pointer;
      margin-bottom: 8px;
      transition: font-size 0.2s ease-out;
  }

  .close:hover {
      color: #E67580;
      font-size: 2.5em;
  }

  #my_form input,
  #my_form button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 1em;
      border: 2px solid #E6A1A1;
      background: none;
      color: #E0E0E0;
      border-radius: 4px;
      transition: font-size 0.2s ease-out;
  }

  #my_form button[type="submit"]:hover,
  #my_form input[type="reset"]:hover
  {
  	font-size: 1.3em;
  }

  #my_form input:focus
  {
      outline: none;
  }


#age{
	align-self: flex-end;

}

span
{
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
}
